<!DOCTYPE html>
<html>
<head>
	<title>Current Students</title>
	<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <%= stylesheet_link_tag "students" %>
</head>
<body>

    <a href="/dashboard"><button id="home" placeholder="Home">Home</button></a>
<a href="/students/new"><button id="add">Add A Course</button></a>

	<table class="responsive-table">
        <thead>
          <tr>
              <th><p>Cohort ID</p></th>
              <th><p>Course ID</p></th>
              <th><p>First Name</p></th>
              <th><p>Last Name</p></th>
              <th><p>Age</p></th>
              <th><p>Highest Education</p></th>
              <th><p>GPA</p></th>
              <th><p>Letter Grade</p></th>
              <th><p>Edit</p></th>
              <th><p>Delete</p></th>
          </tr>
        </thead>

        <tbody>
        	<% @viewstudents.each do |student| %>
          <tr>
		    <td><p><%= student.cohort_id %></p></td>
			<td><p><%= student.course_id %></p></td>
			<td><p><%= student.student_firstname %></p></td>
			<td><p><%= student.student_lastname %></p></td>
			<td><p><%= student.student_age %></p></td>
			<td><p><%= student.student_highested %></p></td>
			<td><p><%= student.student_gpa %></p></td>
			<td><p><%= student.student_grade %></p></td>
      <td><a href="/students/<%= student.id%>/edit/"><p>Edit</p></a></td>
      <td id="student-<%= student.id %>"><%= link_to 'Destroy', student_path(student), method: :delete, remote:true, data: { confirm: "Are you sure you want to delete #{student.student_firstname}, #{student.student_lastname}?" } %></td>
          </tr>
            <% end %>
        </tbody>

      </table>

<!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</body>
</html>