<!DOCTYPE html>
<html id="login-main">
<head>
	<title>Login</title>
	<%= stylesheet_link_tag "logins" %>

	<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

    <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
</head>
<body>

	<%= image_tag("SJA", id: "sjalogo") %>
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>

<!-- Research how to use action=""(route) with Rails -->
<form method="POST" action="/login">
<input type="text" name="admin_email" placeholder="Email" id="email">
<input type="password" name="admin_password" placeholder="Password" id="password">
<button id="login">Login</button>
</form>

<a href="/contactus/new"><h3 id="contactus">Contact Us</h3></a>


<%= javascript_include_tag "logins" %>

<!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</body>
</html>