<!DOCTYPE html>
<html>
<head>
	<title>Current Cohorts</title>
	<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

    <%= stylesheet_link_tag "instructors" %>
</head>
<body>

<a href="/dashboard"><button id="home" placeholder="Home">Home</button></a>
<a href="/instructors/new"><button id="add" placeholder="Add An Instructor">Add An Instructor</button></a> 
	<table class="responsive-table">
        <thead>
          <tr>
              <th><p>Cohort ID</p></th>
              <th><p>Course ID</p></th>
              <th><p>First Name<p></th>
              <th><p>Last Name<p></th>
              <th><p>Age<p></th>
              <th><p>Salary<p></th>
              <th><p>Highest Ed.<p></th>
              <th><p>Edit<p></th>
              <th><p>Delete<p></th>
          </tr>
        </thead>

        <tbody>

        	<% @viewinstructors.each do |instructor| %>
          <tr>
		    <td><p><%= instructor.cohort_id %></p></td>
			<td><p><%= instructor.course_id %></p></td>
			<td><p><%= instructor.instructor_firstname %></p></td>
			<td><p><%= instructor.instructor_lastname %></p></td>
      <td><p><%= instructor.instructor_age %></p></td>
      <td><p><%= instructor.instructor_salary %></p></td>
      <td><p><%= instructor.instructor_highested %></p></td>
      <td><a href="/instructors/<%= instructor.id%>/edit/"><p>Edit</p></a></td>
       <td id="instructor-<%= instructor.id %>"><%= link_to 'Destroy', instructor_path(instructor), method: :delete, remote:true, data: { confirm: "Are you sure you want to delete #{instructor.instructor_firstname}, #{instructor.instructor_lastname}?" } %></td>

          </tr>
         <% end %>
        </tbody>

      </table>

<!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</body>
</html>